            html,body{
				width: 100%;
				height: 100%;
			}
			
			.XL-box{
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: relative;
			}
			.XL-back{
				/*width: 1920px;
				height:1080px;*/
			    width: 100%;
				height: 100%;
				position: fixed;
				left: 0;
				top: 0;
				z-index:-10;
			}
			
			.XL-left{
				/*width: 220px;*/
				width: 11.45%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
			}
			.XL-leftLogo{
				/*width: 162px;*/
				width: 72.7%;
			    margin:40px 0 20px;
			}
			.XL-leftProjectTop{
				/*width:180px;*/
				width: 81.8%;
				height: 50px;
				font-family:pingfang;
				color: #333;
				border-radius: 3px;
				margin:0 auto;
				margin-top:15px;
				background-image: url(xioimg/btnQ.png) ;
				background-size: 100% 100%;
                position: relative;
			}
			.XL-leftProjectTop>i{
				font-size: 24px;
				color: #b3b3b3;
				position: absolute;
                top:50%;  
                left:15px;
                transform: translateY(-50%);
			}
			.XL-leftProjectTop>span{
				display: inline-block;
				width: 80px;
				text-align: left;
	            margin-left: 25px;
				line-height: 50px;
				font-size: 18px;
			}
			
			.XL-left>p{
				font-size: 18px;
				color: #333;
				font-family:pingfang;
				margin: 40px 0 20px;
			}
			.XL-leftProjectBottom{
				/*width:180px;*/
				width: 81.8%;
				height: 50px;
				background-image: url(xioimg/btnQ.png) ;
				background-size: 100% 100%;
				border-radius: 3px;
				margin:0 auto;
				margin-top: 15px;
				overflow: hidden;
			}
			.XL-leftProjectBottom>span{
				display: inline-block;
				line-height: 55px;
				font-size: 18px;
				color: #333;
				font-family:pingfang;
			}
			
			.XL-right{
				/*width: 1650px;
				height: 940px;*/
				width: 85.9%;
				height: 90%;
				/*padding: 5px;*/
				border:5px solid rgb(184, 184, 184);
				border-radius: 10px;
				position: absolute;
				top:5%;
				/*left: 220px;*/
				left:11.45%;
				overflow: hidden;
			}
			.XL-JJBJT{
				background-image: url(xioimg/bg-jian.png);
				background-size: 100% 100%;
			}
			/*111*/
			
            .secondLevel{
            	/*width: 157px;*/
            	width: 9.6%;
				/*height: 820px;*/
				height: 100%;
				border-radius: 5px 0px 0px 5px;
				background-color: #344D8A;
				padding-top: 120px;
            }
			.secondLevel-title{
				width: 100%;
				height:55px;
				background-color:#475f96;
				margin-bottom: 1px; 
				
			}
			.secondLevel-title>p{
				color: white;
				font-size: 14px;
				font-family: pingfang;
				line-height: 55px;
				margin-left: 20px;
				position: relative;
			}
			.secondLevel-title i{
			    color: white;
			    line-height: 55px;
			    position: absolute;
			    right: 10px;
			}
			
			.threeLevel{
				/*width: 1495px;
				height: 940px;*/
				width: 90.6%;
				height: 100%;
				position: absolute;
				top: 0px;
				/*left: 160px;*/
				left: 9.6%;
			}
			.threeLevel-left{
				/*width: 940px;*/
				width: 62.8%;
				height: 100%;	
			}
			.threeLevel-left>img{
				width: 100%;
				height: 100%;
			}
			.threeLevel-right{
				/*width: 555px;*/
				width: 37.2%;
				/*height: 940px;*/
				height: 100%;
				position: absolute;
				top: 0px;
				right: 0px;
			}
			.threeLevel-rightContent01{
				/*width: 465px;*/
				width: 83.7%;
				margin: 0 auto;
				margin-top: 95px;
				font-size: 14px;
				font-family: pingfang;
			}
			.threeLevel-rightContent01>h2{
				font-size:36px;
				color: #142F72;
				line-height: 50px;
				margin-bottom: 6px;
			}
			.threeLevel-rightContent01>h5{
				font-size:24px;
				color: #142F72;
				line-height: 33px;
				margin-bottom: 40px;
				
			}
			.threeLevel-rightContent01>p{
				font-size: 20px;
				color: #333;
				font-family:pingfang;
				line-height: 36px;
			}
			.bfq-btn{
				width: 100px;
				height: 100px;
				text-align: center;
				position: absolute;
				right: 50px;
				bottom:50px;
			}
			.bfq-btn i{
				font-size:85px;				
				line-height: 90px;
				color: #87878f;
                cursor: pointer;
			}
			
		    .video-One{
		    	width: 1495px;
                height: 940px;
		    }
		    .video-One video{
		        border-radius:0px 10px  10px 0px ;
		    	object-fit:fill;
		    	width: 1495px;
                height: 940px;
		    }
		    .video-One i{
		    	font-size: 40px;
                color: white;
                position: absolute;
                top: 1px;
                right: 10px;
                z-index: 5;
		    }
		    
		    .sandajizhi{
		    	position: absolute;
		    	/*top: 130px;
		    	left: 105px;*/
		    	top:13.82%;
		    	left: 7%;
		    	color: #344D8A;
		    }
		    .sandajizhi>h4{
		    	font-size: 48px;
                line-height: 50px;
		    }
		    .sandajizhi>span{
		        font-size: 24px;
                line-height: 36px;
		    }
		    

		   
		   .xio-school{
		   	/*width: 1435px;
		   	height: 310px;*/
		   	width: 96.25%;
		   	height: 32.97%;
		   	background: #004290;
		   	position: absolute;
		   	/*left: 30px;
		   	bottom: 35px;*/
		   	left: 2%;
		   	bottom: 3.72%;
		   	border-radius:0 0 5px 5px;
		   	overflow: hidden;
		   }
		   .xio-school>img{
		        /*width: 1457px;*/
		        width: 101.53%;
                position: absolute;
                top: -64px;
                left: -9px;
		   }
		   .xio-school>div{
		   	width: 100%;
		   	/*margin-top: 240px; 
		   	padding-top: 10px;*/
		   	margin-top:15.4%;
		   	padding-top: 0.696%;
		   }
		   .xio-school span{
		       display: inline-block;
               width: 24.7%;
               text-align: center;
               font-size: 24px;
               color: #FFFFFF;
		   }
		   .xio-school-cont{
		    /*width: 672px;
            height: 450px;*/
            width: 44.94%;
            height: 47.87%;
            background: #108EE9;
            color: #FFFFFF;
            padding-left: 30px;
            border-radius: 0 5px 0 0;
            position: absolute;
            /*left: 760px;
            top: 130px;*/
            top: 13.82%;
            left: 50.8%;
		   }
		   .xio-school-cont>h4{
		   	font-size:48px;
		   	margin-top: 85px;
		   }
		   .xio-school-cont>p{
		   	font-size:24px;
		   	line-height: 40px;
		   	margin-top: 20px;
		   }
		    /*333*/
		   .SIND-lb-xt01{
		   	position: absolute;
		   	top: 130px;
		   	right: 67.5px;
		   	color: #FFFFFF;
		   }
		   .SIND-lb-xt01>img{
		   	width: 100px;
		   	height: 100px;
		   	margin: 0 32.5px;
		   }
		   .SIND-lb-xt01>p{
		   	display: inline-block;
		   	width: 115px;
		   	text-align: center;
		   	margin: 20px 25px 0;
		   	font-size: 20px;
		   }
		   .SIND-lb-cont01{
		   	width: 585px;
		   	color: #FFFFFF;
		   	position: absolute;
		   	left: 115px;
		   	bottom: 100px;
		   }
		   .SIND-lb-cont01>h4{
		   	font-size: 48px;
		   }
		   .SIND-lb-cont01>span{
		   	font-size: 24px;
		   }
		   .SIND-lb-cont01>p{
		   	font-size: 18px;
		   	line-height: 30px;
		   	margin-top: 30px;
		   }
		   
		   .SIND-lb-cont02{
		   	width: 800px;
		   	color: #FFFFFF;
		   	position: absolute;
		   	left: 115px;
		   	top: 115px;
		   }
		   .SIND-lb-cont02>h4{
		   	font-size: 48px;
		   }
		   .SIND-lb-cont02>span{
		   	font-size: 24px;
		   }
		   .SIND-lb-cont02>p{
		   	width: 512px;
		   	font-size: 18px;
		   	line-height: 36px;
		   	margin-top: 20px;
		   }
		   
		   .SIND-lb-cont03{
		   	width: 905px;
		   	height: 350px;
		   	color: #FFFFFF;
		   	position: absolute;
		   	right: 0;
		   	bottom: 65px;
		   }
		   .SIND-lb-cont03>h4{
		   	font-size: 36px;
		   	height: 50px;
		   	position: absolute;
		   	left: 320px;
		   	top: 35px;
		   	z-index: 1;
		   }
		   .SIND-lb-cont03>span{
		   	font-size: 18px;
		   	line-height: 36px;
		   	position: absolute;
		   	left: 320px;
		   	top: 85px;
		   	z-index: 1;
		   }
		   .SIND-lb-cont03>p{
		   	width: 535px;
		   	font-size: 24px;
		   	line-height: 36px;
		   	position: absolute;
		   	left: 320px;
		   	top: 150px;
		   	z-index: 1;
		   }
		   
		   .sind-lb-cont04{
		    color: #FFFFFF;
		    width: 615px;
		   	position: absolute;
		   	top: 95px;
		   	left: 145px;
		   }
		   .sind-lb-cont04>h4{
		   	font-size:36px;
		   	line-height: 50px;
		   }
		   .sind-lb-cont04>span{
		   	font-size:18px;
		   	line-height: 36px;
		   }
		   .sind-lb-cont04>p{
		   	font-size:24px;
		   	line-height: 36px;
		   	margin-top: 40px;
		   }
		   .sind-lb-xq04{
		   	color: #FFFFFF;
		   	width: 1000px;
		   	position: absolute;
		   	left:105px;
		   	bottom:60px;
		   }
		   .sind-lb-xq04 img{
		   	vertical-align: bottom;
		   }
		   .sind-lb-xq04 span{
		   	font-size: 18px;
		   	line-height: 34px;
		   	margin-left: 20px;
		   }
		   
		   .SMART-lb01-cont{
		   	width: 600px;
            position: absolute;
            left: 900px;
            top: 165px;
		   }
		   .SMART-lb01-cont h4{
		   	font-size: 36px;
		   	line-height: 50px;
		   }
		   .SMART-lb01-cont p{
		   	font-size: 18px;
		   	line-height: 20px;
		   }
		   .SMART-lb01-cont img{
		   	width: 140px;
		   	margin: 30px 0;
		   }
		   .SMART-lb01-xqing{
		   	width: 600px;
            position: absolute;
            left: 900px;
            top: 420px;
		   }
		   .SMART-lb01-xqing img{
		   	width: 100px;
		   	margin:0 20px;
		   }
		   .SMART-lb01-xqing h4{
		   	font-size: 36px;
		   	line-height: 50px;
		   	margin-top: 160px;
		   }
		   .SMART-lb01-xqing span{
		   	font-size: 18px;
		   	line-height: 20px;
		   }
		   .SMART-lb01-xqing p{
		   	width: 540px;
		   	font-size: 24px;
		   	line-height: 36px;
		   	margin-top: 30px;
		   }
		   .SMART-lb02-cont{
		   	width: 770px;
		   	position: absolute;
		   	top: 165px;
		   	right:0;
		   }
		   .SMART-lb02-cont h4{
		   	font-size: 36px;
		   	line-height:50px;
		   }
		   .SMART-lb02-cont span{
		   	font-size: 18px;
		   	line-height:36px;
		   }
		   .SMART-lb02-cont p{
		   	font-size: 24px;
		   	line-height:36px;
		   }
		   .SMART-lb02-xqing{
		    width: 770px;
            position: absolute;
            top: 510px;
            right: 0;
		   }
		   .SMART-lb02-xqing p{
		   	font-size: 24px;
            line-height: 65px;
            margin-left: 160px;
		   }
		   
		   .SMART-lb03-cont{
		   	width: 535px;
		   	position: absolute;
		   	right:92.5px;
		   	top: 55px;
		   }
		   .SMART-lb03-cont img{
		   	width: 75px;
            position: absolute;
            right: 470px;
            top: 8px;
		   }
		   .SMART-lb03-cont h4{
		   	font-size: 36px;
		   	line-height:50px;
		   	margin-left:80px ;
		   }
		   .SMART-lb03-cont span{
		   	font-size: 18px;
		   	line-height:36px;
		   	margin-left:80px ;
		   }
		   .SMART-lb03-cont p{
		   	font-size: 24px;
		   	line-height:36px;
		   	margin-top: 15px;
		   }
		   
		   .SMART-lb04-img{
		   	width: 325px;
            position: absolute;
            top: 190px;
            right: 145px;
		   }
		   .SMART-lb04-img img{
		   	width: 135px;
		   	margin-left: 25px;
		   }
		   .SMART-lb04-cont{
		   	width:300px;
		   	position: absolute;
		   	top: 550px;
		   	left: 1130px;
		   }
		   .SMART-lb04-cont h4{
		   	font-size: 36px;
		   	line-height:50px;
		   }
		   .SMART-lb04-cont span{
		   	font-size: 18px;
		   	line-height:36px;
		   }
		   .SMART-lb04-cont p{
		   	font-size: 24px;
		   	line-height:36px;
		   	margin-top: 15px;
		   }
		   .SMART-lb05-cont{
		   	widows: 1200px;
		   	text-align: center;
		   	position: absolute;
		   	left: 0;
		   	right: 0;
		   	margin: auto;
		   	top:300px;
		   }
		   .SMART-lb05-cont h4{
		   	font-size: 36px;
		   	line-height:50px;
		   }
		   .SMART-lb05-cont span{
		   	font-size: 18px;
		   	line-height:36px;
		   }
		   .SMART-lb05-xqing{
		   	width: 1050px;
		   	position: absolute;
		   	left: 0;
		   	right: 0;
		   	margin: auto;
		   	top:480px;
		   }
		   .SMART-lb05-fjie{
		   	display: inline-block;
		   	width: 500px;
		   	height: 230px;
		   	position: relative;
		   }
		   .SMART-lb05-fjie img{
		   	width: 140px;
		   	position: absolute;
		   	top: 20px;
		   	left: 0;
		   }
		   .SMART-lb05-fjie h4{
		   	font-size: 24px;
		   	margin-left: 160px;
		   	margin-top: 20px;
		   }
		   .SMART-lb05-fjie p{
		   	font-size: 18px;
		   	line-height: 24px;
		   	margin-left: 160px;
		   	margin-top: 20px;
		   }
		   /*444*/
		  .anquan01-img{
		  	width: 1200px;
		  	position: absolute;
		  	left: 0;
		  	right: 0;
		  	margin: auto;
		  	top:200px;
		  	display: flex;
		  	justify-content: space-around;
		  }
		   .anquan01-img img{
		   	width:310px;
		   	height: 310px;		   
		   }
		   .anquan01-cont{
		   	width: 745px;
		   	position: absolute;
		   	left: 55px;
		   	bottom: 130px;
		   	color: #FFFFFF;
		   }
		   .anquan01-cont h4{
		   	font-size: 36px;
		   	line-height:50px;
		   }
		   .anquan01-cont span{
		   	font-size: 18px;
		   	line-height:36px;
		   }
		   .anquan01-cont p{
		   	font-size: 24px;
		   	line-height:36px;
		   	margin-top: 20px;
		   }
		  
		  .anquan02-cont{
		  	width: 1200px;
		  	position: absolute;
		  	left: 0;
		  	right: 0;
		  	margin: auto;
		  	top: 80px;
		  	display: flex;
		  	justify-content: space-around;
		  	flex-wrap:wrap;
		  }
		  .anquan02-cont img{
		  	width: 360px;
		  	margin-bottom: 85px;
		  }
		  
		  .anquan03-cont{
		  	width: 1060px;
		  	color: #FFFFFF;
		  	position: absolute;
		  	top: 85px;
		  	left:195px;
		  }
		  .anquan03-cont h4{
		   	font-size: 36px;
		   	line-height:50px;
		   }
		   .anquan03-cont span{
		   	font-size: 18px;
		   	line-height:36px;
		   }
		   .anquan03-cont p{
		   	font-size: 20px;
		   	line-height:36px;
		   	margin-top: 20px;
		   }
		   .anquan03-img{
		   	width: 1300px;
		   	position: absolute;
		   	left: 195px;
		   	top: 275px;
		   }
		   .anquan03-img p{
		   	font-size: 48px;
		   	color: #FFFFFF;
            position: absolute;
            top: 248px;
            left: 432.5px;
		   }
		   .anquan03-img span{
		   	font-size: 24px;
		   	line-height: 33px;
		   	color: #FFFFFF;
		   	position: absolute;
		   	left: 140px;
		   	bottom: -45px;
		   }
			/*777*/
			.XL-ZHBGT{
				background-image: url(xioimg/bg-huang.png);
				background-size: 100% 100%;
			}
		
			.secondLevel-content{
				width: 100%;
			}
			.secondLevel-content>div{
				width: 100%;
				height: 125px;
				cursor:pointer;
				background-color: #1a2545;
				margin-bottom: 1px;
				color: white;
				font-size: 14px;
				font-family: pingfang;
				position: relative;
			}
			.secondLevel-content>div>img{
				width: 40px;
				margin-top: 10px;
				margin-left: 50px;
				vertical-align: middle;
			}
			.secondLevel-content>div>p{
				margin-top: 2px;
				margin-left: 45px;
				font-size: 12px;
				line-height: 20px;
			}
			.secondLevel-content>div>i{
				display: inline-block;
				line-height: 125px;
				position: absolute;
				top: 0;
				right: 10px;
			}
			
			
			
			.XL-AllDecorateL{
				/*width: 420px;*/
				width: 28%;
				position: absolute;
				/*bottom: 155px;
				left: 65px;*/
				left: 4.34%;
				bottom: 16.48%;
				overflow: hidden;
			}
			.XL-AllDecorateL>div{
			/*width: 80px;*/
			width: 21%;
			height: 120px;
			text-align: center;
			border-radius: 5px;
			background-color:rgba(0,0,0,0.3);		
			border: 2px solid rgba(255,255,255,0.15);
			margin-right: 20px;
			float: left;	
			}
			.XL-AllDecorateL img{
				width: 50%;
				margin-top: 5px;
				vertical-align: bottom;
			}
			.XL-AllDecorateL p{
				margin-top: 10px;
				font-size: 12px;
				color: white;
			}
			
			.XL-AllDecorateM{
				/*width: 340px;
				height: 720px;*/
				width: 22.74%;
				height:76.5%;
				position: absolute;
				/*left:530px;
				top:140px;*/
				left: 35.45%;
				top:14.8%;
			}
			.XL-AllDecorateM>img{
				width: 100%;
				height: 100%;
			}
			.XL-AllDecorateR{
				/*width: 270px;
				height: 435px;*/
				width: 18%;
				height: 46.27%;
				border-radius: 5px;
				color: white;
				position: absolute;
				/*top: 210px;
				right: 95px;*/
				top: 22.34%;
				right: 6.35%;
				z-index: 1;
				
			}
			.XL-AllDecorateR>h5{
				width: 250px;
				height: 50px;
				font-size:16px;
				line-height: 50px;
				padding-left:20px;
				border-radius: 5px 5px 0 0;
				background-color:#fa8346;
			}
			
			.XL-AllDecorateRfoot{
				width: 230px;
				height: 360px;
				padding: 5px 20px 20px;
                border-radius:0 0 5px 5px;
				background-color:rgba(0,0,0,0.3);
				overflow: hidden;
			}
			.content{
				width:230px;
				height:360px;
				padding-bottom: 20px;
				padding-top: 5px;
				
			}
			.XL-AllDecorateRfoot span{
				font-size: 14px;
				line-height:20px;
				color: rgba(255,255,255,0.45);
			}
			.XL-AllDecorateRfoot p{
				font-size: 16px;
				line-height:22px;
				margin-top: 8px;
				margin-bottom: 20px;
			}
			
			/*888*/
			#tishiyu{
				width: 500px;
				font-size: 30px;
				color: white;
				position: absolute;
				top: 10px;
				left: 200px;
			}
            .scrollcontent{
            	width: 155px;
            	height: 500px;
            	border-radius:0 0 0 5px;
            	
            }
            .DIY-orientation{
            	width: 420px;
				position: absolute;
				bottom: 155px;
				left: 65px;
				overflow: hidden;
            }
            .DIY-orientation>div{
            cursor: pointer;	
			width: 80px;
			height: 120px;
			text-align: center;
			border-radius: 5px;
			background-color:rgba(0,0,0,0.3);		
			border: 2px solid rgba(255,255,255,0.15);
			margin-right: 20px;
			float: left;	
			}
			.DIY-orientation img{
				width: 50%;
				margin-top: 5px;
				vertical-align: bottom;
			}
			.DIY-orientation p{
				margin-top: 10px;
				font-size: 12px;
				color: white;
			}
			.DIY-show{
				width: 340px;
				height: 720px;
				position: absolute;
				left:530px;
				top:140px;
			}
			.DIY-show>img{
				width: 100%;
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
			}
			.change-ding{
				top: 30px !important;
			}
			.change-men{
				
				top: 30px !important;
			}
            .DIY-texture{
            	width: 270px;
				height: 435px;
				border-radius: 5px;
				color: white;
				font-family: pingfang;
				position: absolute;
				top: 210px;
				right: 95px;
				z-index: 66;
            }
            .DIY-texture>h5{
				width: 250px;
				height: 50px;
				font-size:16px;
				line-height: 50px;
				padding-left:20px;
				border-radius: 5px 5px 0 0;
				background-color:#fa8346;
			}
			.DIY-textureBox{
				width: 230px;
				height: 360px;
				padding: 5px 20px 20px;
                border-radius:0 0 5px 5px;
				background-color:rgba(0,0,0,0.3);
				overflow: hidden;
			}
			.DIY-textureContent{
				width: 230px;
				height:360px;
				padding-bottom: 20px;
				padding-top: 5px;
				
			}
			.DIY-textureContent span{
				font-size: 14px;
				line-height:20px;
				color: rgba(255,255,255,0.45);
			}
			.DIY-textureContent p{
				font-size: 16px;
				line-height:22px;
				margin-top: 8px;
				margin-bottom: 20px;
			}
			.secondLevel-content p{
				margin-left: 20px !important;
			}
			.secondLevel-content08 div{
				overflow: hidden;
			}
			.secondLevel-content08 p{
				width: 100%;
				text-align: center;
				margin: 0 !important;
				position: absolute;
				bottom: 5px;
				left: 0;
			}
			.dingDIY img{
				width: 80% !important;
				z-index: 1;
				position: absolute;
				left: -48px;
				top: 0;
			}
			.biDIY img{
				width: 43% !important;
                z-index: 1;
                position: absolute;
                left: -16px;
                top: -31px;
			}
			.diDIY img{
				width: 67% !important;
                z-index: 1;
                position: absolute;
                left: -35px;
                top: -145px;
			}
			.menDIY img{
				width: 50% !important;
                z-index: 1;
                position: absolute;
                left: -2px;
                top: -37px;
			}
			.shouDIY img{
				width: 100% !important;
                z-index: 1;
                position: absolute;
                left: -83px;
                top: -114px;
			}
			.xiangDIY img{
				width: 150% !important;
                z-index: 1;
                position: absolute;
                left: -130px;
                top: -167px;
			}
			.ceBtnDIY img{
				width: 150% !important;
                z-index: 1;
                position: absolute;
                left: -130px;
                top: -167px;
			}
			.qianBtnDIY img{
				width: 130% !important;
                z-index: 1;
                position: absolute;
                left: -65px;
                top: -130px;
			}

			
/*999*/
            	
            .ting-smaill{
            	width: 420px;
				position: absolute;
				bottom: 155px;
				left: 65px;
				overflow: hidden;
            }
            .ting-smaill>div{
			width: 80px;
			height: 120px;
			text-align: center;
			border-radius: 5px;
			background-color:rgba(120,150,247,1);		
			border: 2px solid rgba(255,255,255,0.15);
			margin-right: 20px;
			float: left;	
			}
			.ting-smaill img{
				width: 50%;
				margin-top: 5px;
				vertical-align: bottom;
			}
			.ting-smaill p{
				margin-top: 10px;
				font-size: 12px;
				color: white;
			}
			.ting-show{
				width: 340px;
				height: 720px;
				position: absolute;
				left:530px;
				top:140px;
			}
			.ting-show>img{
				width: 100%;
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
			}
			.ting-fonting{
            	width: 270px;
				height: 435px;
				border-radius: 5px;
				color: white;
				font-family: pingfang;
				position: absolute;
				top: 210px;
				right: 95px;
				z-index: 66;
            }
            .ting-fonting>h5{
				width: 250px;
				height: 50px;
				font-size:16px;
				line-height: 50px;
				padding-left:20px;
				border-radius: 5px 5px 0 0;
				background-color:#fa8346;
			}
			.ting-box{
				width: 230px;
				height: 360px;
				padding:  20px ;
                border-radius:0 0 5px 5px;
				background-color:rgba(0,0,0,0.3);
				overflow: hidden;
			}
			.ting-box span{
				font-size: 14px;
				line-height:20px;
				color: rgba(255,255,255,0.45);
			}
			.ting-box p{
				font-size: 16px;
				line-height:22px;
				margin-top: 8px;
				margin-bottom: 20px;
			}
			
			.two{
				width: 100%;
				height: 700px;
			}
	



            .moren{
				background-color: #fa8346 ;
			}
			








/*缓缓轮播*/
.poster-item{background: #fff;height: 453px;width:336px;border-radius: 10px;
	transition: all 0.5s;cursor: default;
	-moz-transition: all 0.5s;cursor: default;
	-webkit-transition: all 0.5s;cursor: default;
	-o-transition: all 0.5s;cursor: default;
}

#zturn,#zturn2,#zturn3{	
	width: 100%;
	height: 100%;
	position: absolute;
	/*top: 240px;
	left: 500px;*/
	left: -12%;
	top: 25.5%;
}
#zturn li,#zturn2 li,#zturn3 li{
	cursor: pointer;
	/*width: 800px;1495
	height: 550px;940*/
	width: 53.5%;
	height: 58.5%;
	overflow: hidden;
}
#zturn video{
	cursor: pointer;
	border-radius: 5px;
	object-fit:fill;
	width: 100%;
	height: 100%;
}

.yc-pic{
	display: none;
	overflow: hidden;
    width: 100%;
    height: 101%;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
}
.close-cha{
	cursor: pointer;
    color: white;
    position: absolute;
    top: 1px;
    right: 10px;
    z-index: 5;
}
.sind-left,.samrt-left{
	cursor: pointer;
	opacity: 0.5;
	position: absolute;
	top: 450px;
	left: 150px;
}
.sind-right,.samrt-right{
	cursor: pointer;
	opacity: 0.5;
	position: absolute;
	top: 450px;
	right: 150px;
}
